.landingContainer {
  background: white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "navb navb navb navb navb navb navb navb navb navb navb navb"
    "hero hero hero hero hero hero hero hero hero hero hero hero"
    "cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1"
    "cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2"
    "cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3"
    "lgls lgls lgls lgls lgls lgls lgls lgls lgls lgls lgls lgls"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
}

.landingContainer .nav {
  grid-area: navb;
  position: sticky;
  top: 0px;
  z-index: 3;
}

.landingContainer .hero {
  grid-area: hero;
}

.landingContainer .callCallToAction-One {
  grid-area: cta1;
}

.landingContainer .callCallToAction-Two {
  grid-area: cta2;
}
.landingContainer .callCallToAction-Three {
  grid-area: cta3;
}

.landingContainer .legals {
  grid-area: lgls;
}

.landingContainer .footer {
  grid-area: foot;
}

.landingContainer .modal {
  z-index: 3;
}

/* separacion entre componentes */
.landingContainer .callCallToAction-One,
.landingContainer .callCallToAction-Two,
.landingContainer .callCallToAction-Three {
  margin: 2rem 6rem;
}

.landingContainer .loader {
  position: absolute;
  top: 100px;
  left: calc(50% - 190px);
  scale: 30%;
}

/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 575.98px) {
  .landingContainer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "navb navb navb navb"
      "hero hero hero hero"
      "cta1 cta1 cta1 cta1"
      "cta2 cta2 cta2 cta2"
      "cta3 cta3 cta3 cta3"
      "lgls lgls lgls lgls"
      "foot foot foot foot";
  }

  .landingContainer .callCallToAction-One,
  .landingContainer .callCallToAction-Two,
  .landingContainer .callCallToAction-Three {
    margin: 0.8rem 1rem;
  }
}
