.landingContainer {
  background: white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "navb navb navb navb navb navb navb navb navb navb navb navb"
    "hero hero hero hero hero hero hero hero hero hero hero hero"
    "cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1"
    "cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2"
    "cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3"
    "lgls lgls lgls lgls lgls lgls lgls lgls lgls lgls lgls lgls"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
}

.landingContainer .nav {
  grid-area: navb;
  position: sticky;
  top: 0px;
  z-index: 3;
}

.landingContainer .hero {
  grid-area: hero;
}

.landingContainer .callCallToAction-One {
  grid-area: cta1;
}

.landingContainer .callCallToAction-Two {
  grid-area: cta2;
}
.landingContainer .callCallToAction-Three {
  grid-area: cta3;
}

.landingContainer .legals {
  grid-area: lgls;
}

.landingContainer .footer {
  grid-area: foot;
}

.landingContainer .modal {
  z-index: 3;
}

/* separacion entre componentes */
.landingContainer .callCallToAction-One,
.landingContainer .callCallToAction-Two,
.landingContainer .callCallToAction-Three {
  margin: 2rem 6rem;
}

.landingContainer .loader {
  position: absolute;
  top: 100px;
  left: calc(50% - 190px);
  scale: 30%;
}

/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1199.98px) {
}

/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 991.98px) {
}

/* Pantallas pequeñas (móviles en landscape de menos de 768px) */
@media (max-width: 767.98px) {
}

/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 575.98px) {
}
