.landingContainer {
  display: grid;
  /* gap: 16px; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "navb navb navb navb navb navb navb navb navb navb navb navb"
    "hero hero hero hero hero hero hero hero hero hero hero hero"
    "cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1 cta1"
    "cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2 cta2"
    "cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3 cta3"
    "lgls lgls lgls lgls lgls lgls lgls lgls lgls lgls lgls lgls"
    "foot foot foot foot foot foot foot foot foot foot foot foot";
}

.landingContainer .nav {
  grid-area: navb;
  background: red;
  /* height: 100px; */
}

.landingContainer .hero {
  grid-area: hero;
  /* background: green; */
}

.landingContainer .callCallToAction-One {
  grid-area: cta1;
  /* background: yellow; */
}

.landingContainer .callCallToAction-Two {
  grid-area: cta2;
  /* background: yellowgreen; */
}
.landingContainer .callCallToAction-Three {
  grid-area: cta3;
  /* background: purple; */
}

.landingContainer .legals {
  grid-area: lgls;
  /* background: chocolate; */
}

.landingContainer .footer {
  grid-area: foot;
  /* background: darkslategrey; */
}

/* separacion entre componentes */
.landingContainer .callCallToAction-One,
.landingContainer .callCallToAction-Two,
.landingContainer .callCallToAction-Three {
  margin: 2rem 6rem;
}
