.heroContainer {
  background: rgb(218, 218, 218);
  margin-bottom: 5.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "A     A     A      A     A     A"
    "title title title  title title B"
    "disc  disc  parag  parag parag C     "
    "D     D     D      D     D     D";
}

.heroContainer .heroTitle {
  grid-area: title;
  text-align: center;
  margin-top: 20vh;
  text-transform: uppercase;
}

.heroContainer .heroDiscount {
  grid-area: disc;
  text-align: end;
  margin-bottom: 35vh;
}

.heroContainer .heroTitle,
.heroContainer .heroDiscount {
  font-family: var(--primary-font);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  color: var(--black-color);
}

.heroContainer .heroParagraphs {
  grid-area: parag;
  font-family: var(--primary-font);
  font-size: var(--font-size-text-xl);
  font-weight: var(--font-weight-text-xl);
  color: var(--secondary-gray-color);
  margin-bottom: 20vh;
}
