.pageContainer {
  background: var(--secondary-gray-color);

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageContainer .componenteContainer {
  background: var(--white-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.104) 1px 5px 5px 5px;
}

.pageContainer .componenteContainer .logoContainer :nth-child(1) {
  background: var(--background-gray-color);
  height: 100px;
  border-radius: 5px;
}

.pageContainer .componenteContainer .textContainer {
  text-align: center;
}

.pageContainer .componenteContainer .buttonContainer {
  font-size: var(--font-size-text-button) !important;
}

.pageContainer .componenteContainer .logoContainer :nth-child(1),
.pageContainer .componenteContainer .textContainer,
.pageContainer .componenteContainer .buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  font-family: var(--secundary-font);
  font-size: var(--font-size-text-l);
  font-weight: var(--font-size-text-l);
  color: var(--black-color);
}

/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1199.98px) {
}

/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 991.98px) {
}

/* Pantallas peque침as (m칩viles en landscape de menos de 768px) */
@media (max-width: 767.98px) {
}

/* Pantallas muy peque침as (m칩viles en portrait de menos de 576px) */
@media (max-width: 575.98px) {
}
