.legalsContainer {
  background: var(--background-gray-color);
  font-family: var(--primary-font);
  font-size: var(--font-size-text-xs);
  font-weight: var(--font-weight-text-xs);
  color: var(--primary-gray-color);
  margin-top: 1rem;
  text-transform: capitalize;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "z text1 text1 text1 text1 text1 text1 x x x x x"
    "z text2 text2 text2 text2 text2 text2 x x x x x "
    "z text3 text3 text3 text3 text3 text3 x x x x x";
}

.legalsContainer :nth-child(1) {
  grid-area: text1;
  margin-top: 2rem;
}
.legalsContainer :nth-child(3) {
  grid-area: text2;
}
.legalsContainer :nth-child(5) {
  grid-area: text3;
  margin-bottom: 2rem;
}

/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1199.98px) {
}

/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 991.98px) {
}

/* Pantallas peque침as (m칩viles en landscape de menos de 768px) */
@media (max-width: 767.98px) {
}

/* Pantallas muy peque침as (m칩viles en portrait de menos de 576px) */
@media (max-width: 575.98px) {
}
