.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);

  font-family: var(--primary-font);
  font-size: var(--font-size-text-xs);
  font-weight: var(--font-weight-text-xs);
  color: var(--black-color);
}

.overlay .contenedorModal {
  position: relative;
  width: 500px;
  min-height: 100px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 180, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.overlay .encabezadoModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.overlay .encabezadoModal h3 {
  font-weight: 500px;
  font-size: 16px;
  color: var(--primary-color);
}

.overlay .botonCerrar {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
  color: var(--primary-color);
}

.overlay .botonCerrar:hover {
  color: var(--black-color);
}

.overlay .botonCerrar svg {
  width: 100%;
  height: 100%;
}

.overlay .contenido {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "code     code"
    "groupOne groupTwo"
    "btn      btn";
}

.overlay .contenido span {
  grid-area: code;
}

.overlay .contenido .groupOne {
  grid-area: groupOne;
}
.overlay .contenido .groupTwo {
  grid-area: groupTwo;
}

.overlay .contenido .groupTwo p,
.overlay .contenido .groupTwo span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay .contenido .btn {
  grid-area: btn;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
