/* contenedores padre */
.imgIZQ,
.imgDER {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.imgIZQ {
  grid-template-areas: "carousel carousel carousel texts texts";
}

.imgDER {
  grid-template-areas: "texts texts carousel carousel carousel";
}

/* subconenedores */
.carousel {
  grid-area: carousel;
  overflow: hidden;
}

.info {
  grid-area: texts;
}

.imgIZQ .info,
.imgDER .info {
  grid-area: texts;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(6, 1fr);
}

.imgIZQ .info {
  text-align: start;
  grid-template-areas:
    "logo A   A   A   A   A"
    "h2   h2  h2  h2  h2  h2"
    "p    p   p   p   p   p"
    "txt  txt txt txt txt txt"
    "btn  btn btn btn btn btn";
}

.imgDER .info {
  text-align: end;
  grid-template-areas:
    "A   A   A   A   A   logo"
    "h2  h2  h2  h2  h2  h2"
    "p   p   p   p   p   p"
    "txt txt txt txt txt txt"
    "btn btn btn btn btn btn ";
}

/* hijos */
.info .logo {
  grid-area: logo;
  width: 4.3rem;
  height: 6rem;
  margin-top: 3rem;
}

.info h2 {
  grid-area: h2;
  font-family: var(--primary-font);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  color: var(--primary-gray-color);
  text-transform: uppercase;
}

.info p {
  grid-area: p;
  font-family: var(--primary-font);
  font-size: var(--font-size-text-l);
  font-weight: var(--font-weight-text-l);
  color: var(--secondary-gray-color);
}

.info .secondPragraph {
  grid-area: txt;
  font-family: var(--primary-font);
  font-size: var(--font-size-text-s);
  font-weight: var(--font-weight-text-s);
  color: var(--secondary-gray-color);
}

.info .button {
  grid-area: btn;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  cursor: pointer;
}
