.navbarContainer {
  display: grid;
  grid-template-columns: 1200px 240px;
  background: var(--background-gray-color);
  overflow: hidden;
}
.navbarContainer .brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
}
.navbarContainer .OptionsContainer {
  background: blue;
}
