.footerContainer {
  background: rgb(59, 52, 52);

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    " x    mail mail mail mail mail sred z"
    " x    nums nums nums nums nums nums z"
    " term term term term term term term term";
}

.footerContainer .contactMail {
  grid-area: mail;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 1.5rem;
}

.footerContainer .numbers {
  grid-area: nums;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    " x x x x x x x x"
    " A C E G I K M Ñ"
    " B D F H J L N O";
}

.footerContainer .numbers :nth-child(1) {
  grid-area: A;
}

.footerContainer .numbers :nth-child(2) {
  grid-area: B;
}

.footerContainer .numbers :nth-child(3) {
  grid-area: C;
}

.footerContainer .numbers :nth-child(4) {
  grid-area: D;
}

.footerContainer .numbers :nth-child(5) {
  grid-area: E;
}

.footerContainer .numbers :nth-child(6) {
  grid-area: F;
}

.footerContainer .numbers :nth-child(7) {
  grid-area: G;
}

.footerContainer .numbers :nth-child(8) {
  grid-area: H;
}

.footerContainer .numbers :nth-child(9) {
  grid-area: I;
}

.footerContainer .numbers :nth-child(10) {
  grid-area: J;
}

.footerContainer .numbers :nth-child(11) {
  grid-area: K;
}

.footerContainer .numbers :nth-child(12) {
  grid-area: L;
}

.footerContainer .numbers :nth-child(13) {
  grid-area: M;
}

.footerContainer .numbers :nth-child(14) {
  grid-area: N;
}

.footerContainer .numbers :nth-child(15) {
  grid-area: Ñ;
}

.footerContainer .numbers :nth-child(16) {
  grid-area: O;
}

/* only names */
.footerContainer .numbers :nth-child(2n - 3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* only nums */
.footerContainer .numbers :nth-child(2n + 2) {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footerContainer .social {
  grid-area: sred;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 70%;
  filter: invert();
}

.footerContainer .social :nth-child(2) {
  margin: 0rem 0.6rem;
}

.footerContainer .termsUse {
  grid-area: term;
  background: var(--black-color);
  height: 2.2rem;
  padding: 0rem 10.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerContainer .termsUse .termGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainer .termGroup p {
  padding-left: 100px;
  translate: -55px;
}

.footerContainer .contactMail,
.footerContainer .termsUse,
.footerContainer .termsUse a,
.footerContainer .numbers :nth-child(2n - 3),
.footerContainer .numbers :nth-child(2n + 2) {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: var(--font-size-text-xs);
  font-weight: var(--font-weight-text-xs);
  color: var(--white-color);
}

/* Pantallas muy pequeñas (móviles en portrait de menos de 576px) */
@media (max-width: 575.98px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }

  .footerContainer .contactMail {
    justify-self: flex-start;
    margin: 0rem 2rem;
    font-size: calc(var(--font-size-text-xs) - 15%) !important ;
  }

  .footerContainer .numbers {
    text-align: center;
    margin: 0rem 2rem;
  }

  .footerContainer .numbers p {
    font-size: calc(var(--font-size-text-xs) - 15%) !important ;
    width: 110px;
    margin: 0rem 0rem;
  }

  .footerContainer .numbers :nth-child(2n - 3),
  .footerContainer .numbers :nth-child(2n + 2) {
    margin-bottom: 0rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .footerContainer .numbers :nth-child(7),
  .footerContainer .numbers :nth-child(8),
  .footerContainer .numbers :nth-child(9),
  .footerContainer .numbers :nth-child(10),
  .footerContainer .numbers :nth-child(11),
  .footerContainer .numbers :nth-child(12),
  .footerContainer .numbers :nth-child(13),
  .footerContainer .numbers :nth-child(14),
  .footerContainer .numbers :nth-child(15),
  .footerContainer .numbers :nth-child(16) {
    display: none;
  }

  .footerContainer .social {
    margin-bottom: -25px;
  }

  .footerContainer .termsUse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerContainer .termsUse .firstChild {
    font-size: calc(var(--font-size-text-xs) - 20%) !important ;
    margin-bottom: -0.9rem;
  }

  .footerContainer .termsUse .secondChild :nth-child(1),
  .footerContainer .termsUse .thirdchild :nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    font-size: calc(var(--font-size-text-xs) - 20%) !important ;
  }
}
