.options {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.options button {
  padding: 2px 2px;
  border: none;
  border-radius: 5px;
  font-family: var(--primary-font);
  font-size: var(--font-size-text-xs);
  font-weight: var(--font-weight-text-xs);
  color: var(--black-color);
  background: var(--background-gray-color);
  text-transform: uppercase;
  cursor: pointer;
}

.options .currency {
  margin: 0px 20px;
}
.options .idiom button:hover,
.options .idiom button:focus-within {
  color: var(--secondary-gray-color);
}

.options .currency button:hover,
.options .currency button:focus-within {
  font-family: var(--primary-font);
  color: var(--secondary-gray-color);
  font-weight: 600;
}
