* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto 100px;
  box-sizing: border-box;
}

:root {
  --primary-color: #0095d9;
  --secondary-color: #214387;
  --white-color: white;
  --black-color: #111;
  --primary-gray-color: rgb(218, 218, 218);
  --secondary-gray-color: rgb(93, 93, 93);

  --primary-font: "Lato", sans-serif;

  --font-size-h1: 2.5rem;
  /* --font-size-h2: 13px; */
  /* --font-size-h3: 36px; */

  --font-size-text-xl: 1.8rem;
  --font-size-text-xs: 1rem;

  /* --font-size-text-m: 26px; */
  /* --font-size-text-s: 26px; */
  /* --font-size-menu: 18px; */
  /* --font-size-button: 18px; */

  --font-weight-h1: 400;
  --font-weight-text-xl: 400;
  --font-weight-text-xs: 300;

  /* --font-weight-h3: 400; */
  /* --font-weight-h2: 400; */
  /* --font-weight-menu: 600;
  --font-weight-button: 600; */
}
