* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  /* --primary-font: "Lato", sans-serif; */
  /* --secundary-font: "PT Serif", serif; */

  --primary-font: "Arial", sans-serif;
  --secundary-font: "Times Roman", serif;

  --primary-color: #0095d9;
  --secondary-color: #214387;
  --white-color: white;
  --black-color: rgba(17, 17, 17);
  --primary-gray-color: #484848;
  --secondary-gray-color: rgb(93, 93, 93);
  --background-gray-color: rgb(235, 235, 235);

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-text-xl: 1.8rem;
  --font-size-text-l: 1.6rem;
  --font-size-text-s: 1.3rem;
  --font-size-text-xs: 0.8rem;
  --font-size-text-button: 1.3rem;

  --font-weight-h1: 400;
  --font-weight-h2: 400;
  --font-weight-text-xl: 400;
  --font-weight-text-l: 400;
  --font-weight-text-s: 400;
  --font-weight-text-xs: 400;
  --font-weight-text-button: 400;
}
